<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068741643112-oirbmaj0i9693f1r0numurrte9vp2okr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068741643112-oirbmaj0i9693f1r0numurrte9vp2okr</string>
	<key>API_KEY</key>
	<string>AIzaSyBwx_lnwJ7DvMWusDwkG7kuduuWr3H9lCA</string>
	<key>GCM_SENDER_ID</key>
	<string>1068741643112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.svi.TikTok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-77c1a</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-77c1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068741643112:ios:d34c90254035b877c924dd</string>
</dict>
</plist>